/************************
 		General 
 ***********************/
body {
	background-color: #ffc266;
}

img {
	margin-bottom: 15%;
	max-width: 100%;
}


/************************
 		BODY
 ***********************/
.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 20%;
}

/*** Shrinking Header ***/
.header {
	margin: 0 auto;
	line-height: 100px;
	color: #fff;
	background-color: #ffc266;
	position: fixed;
	width: 100%;
	top: 0px;
}

.header h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 3em;
	color: white;
 	text-align: center;
}

/************************
 		MEDIA QUERIES
 ***********************/
@media (max-width: 650px) {
	.content {
		margin-top: 30%;
	}

	.header {
		line-height: 25px;
	}

	.header h1 {
		font-size: 1em;
	}
}










