/************************
 		General 
 ***********************/
body {
	background-color: #ffc266;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 4em;
	color: white;
	text-align: center;
}

img {
	margin-bottom: 15%;
	max-width: 100%;
}


/************************
 		BODY
 ***********************/

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
